* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  color: #fff;
}

.container {
  max-width: 1100px;
  margin: 100px auto 40px auto;
}

.calculator {
  width: 364px;
  height: 582px;
  background: #17171C;
  margin: 0 auto;
  padding: 21px 20px 25px 20px;
}

.calculator__output {
  font-size: 96px;
  line-height: 96px;
  width: 324px;
  height: 96px;
  text-align: right;
  margin-bottom: 16px;
}

.calculator__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button {
  width: 69px;
  height: 72px;
  border: none;
  background: #2E2F38;
  border-radius: 24px;
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 16px;
  cursor: pointer;
}

.button:hover {
  background: #4E505F;
}

.button_delete {
  width: 154px;
}

.button_zero {
  width: 238px;
}

.button_bakspace {
  font-size: 24px;
  line-height: 38px;
}

.button_operation,
.button_result {
  font-weight: 400;
  background: #4B5EFC;
}

.button_operation:hover,
.button_result:hover {
  background: #5f71fe;
}

/* work-sans-regular - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/work-sans-v13-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/work-sans-v13-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* work-sans-300 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  src: local(''),
    url('../fonts/work-sans-v13-latin-300.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/work-sans-v13-latin-300.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}